<!DOCTYPE html>
<html>
<head>
    <title>Escolha os Pokémon</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Configurar Batalha</h1>
    <form method="post">
        <label>Pokémon 1: <input name="poke1_name" required></label><br>
        <label>Nível: <input type="number" name="poke1_level" min="1" max="100" required></label><br><br>
        <label>Pokémon 2: <input name="poke2_name" required></label><br>
        <label>Nível: <input type="number" name="poke2_level" min="1" max="100" required></label><br><br>
        <button type="submit">Iniciar Batalha</button>
    </form>
    
</body>
</html>
